<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Udacity multi-user blog project for FSND course" />
        <meta name="author" content="Kele Kravelin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <link rel="stylesheet" href="/static/main.css" />

        <title>Udacity Course Blog</title>
    </head>

    <body>
        <a href="/blog" class="main-title">
            Udacity Course Blog
        </a>

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>