{% extends "base.html" %}
{% block content %}

    <h2>Delete Comment</h2>

    <div class="login-area">
        {{ username }} (<a class="login-link" href="/logout">logout</a>)
    </div>

    <h3>Are you sure you wish to delete this comment?</h3>
    <br>
    {{ c.render(username) | safe }}
    <br><br>

    <form method="post">
        <input class="deletepost-submit" type="submit" name="Delete Post">
        <input class="deletepost-submit" type="submit" name="Cancel" value="Cancel">
    </form>
{% endblock %}
