{% extends "base.html" %}
{% block content %}
<h2>Login</h2>

<div class="login-area">
    <a class="login-link" href="/signup">Sign Up</a>
</div>

<form class="login-form" method="post">
    <label>
        Username
    </label>
    <input type="text" name="username" value="{{username}}">
    <label>
        Password
    </label>
    <input type="password" name="password" value="">

    <div class="error">
        {{error}}
    </div>

    <input class="login-submit" type="submit">
</form>
{% endblock %}