<div class="post-summary">
    <div class="comment-summary">
        Comments: {{ c_count }}
        {% if username != "" %}
            <form method="post">
                <input type="hidden" name="post_id" value="{{ post_id }}">
                <input class="addcomment" type="submit" name="Comment" value="Comment">
            </form>
        {% endif %}
    </div>
    {% if author == username %}
        <div class="post-edit">
            <form method="post">
                <input type="hidden" name="post_id" value="{{ post_id }}">
                <input class="post-edit-submit" type="submit" name="Edit" value="edit">
                <input class="post-edit-submit" type="submit" name="Delete" value="delete">
            </form>
        </div>
    {% endif %}
</div>
<div class="comments">
    {% for comment in comments %}
        <br>
        <div class="comment">
            <div class="comment-left-side">
                <div class="comment-author">{{ comment.author }}</div>
                <div class="comment-date">{{ comment.created.strftime("%b %d, %Y") }}</div>
                {% if comment.author == username %}
                    <div class="comment-edits">
                        <a href="/blog/editcomment?c_id={{comment.key().id()}}">Edit</a> <a href="/blog/deletecomment?c_id={{comment.key().id()}}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="comment-right-side">
                <p class="comment-content">{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>