<div class="post-summary">
    <div class="comment-summary">
        Comments: {{ c_count }}
        <br>
        {% if username != "" %}
            <a class="addcomment" href="/blog/addcomment/{{ post_id }}">Add Comment</a>
        {% endif %}
    </div>
    {% if author == username %}
        <div class="post-edit">
            <a class="post-edit-submit" href="/blog/editpost/{{ post_id }}">Edit Post</a>
            <a class="post-edit-submit" href="/blog/deletepost/{{ post_id }}">Delete Post</a>
        </div>
    {% endif %}
    <div class="likes-summary">
        <form method="post">
            <input type="hidden" name="post_id" value="{{ post_id }}">
            <input type="hidden" name="username" value="{{ username }}">
            {% if username == "" %}
                {{ l_count }} <input class="like-button disabled" type="submit" name="Like" value="&#128402;"> {{ error }}
            {% else %}
                {{ l_count }} <input class="like-button" type="submit" name="Like" value="&#128402;"> {{ error }}
            {% endif %}
        </form>
    </div>
</div>
<div class="comments">
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-left-side">
                <div class="comment-author">{{ comment.author }}</div>
                <div class="comment-date">{{ comment.created.strftime("%b %d, %Y") }}</div>
                {% if comment.author == username %}
                    <div class="comment-edits">
                        <a href="/blog/editcomment/{{ comment.key().id() }}">Edit</a> <a href="/blog/deletecomment/{{ comment.key().id() }}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="comment-right-side">
                <p class="comment-content">{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>